html, body {
  background-color: black;
}

h1 {
  color: white;
  font-family: 'Press Start 2P', cursive;
}

h2, h4{
  color: white;
  font-family: "prompt";
}

#calcOutput {
  height: 75px;
  width: 250px;
  background-color: white;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding-top: 20px;
  border: 1px solid silver;
  box-shadow: 0 0 5px white;
}

#calculator {
  background-color: gray;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid white;
  box-shadow: 0 0 5px white;
}

#steps {
  padding-left: 50px;
  font-size: 2em;
}

.bigButton {
  width: 93px;
}

a {
  margin: 5px;
  width: 2.6vw;
  height: 2.6vw;
}